@model IEnumerable<ShareMockups.DomainClasses.ShareMockup>

@{
    ViewBag.Title = "Mockups Templates";
}

<h2>Mockups to demo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MockupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserDefined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDefined2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDefined3)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MockupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserDefined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDefined2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDefined3)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShareMockupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShareMockupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShareMockupId })
        </td>
    </tr>
}

</table>
